.header__menu {
  padding-top: 55px;
}
.header__menu-container {
  display: flex;
  justify-content: space-between;
  width: 1105px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .header__menu-container {
    flex-direction: column;
    width: 40%;
  }
}
.header__menu-container a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fbffff;
  /* font-family: Gilroy; */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  border-radius: 14.5px;
  border: 1px solid transparent;

  transition: 0.3s;

  padding: 11px 6px;
}

@media (max-width: 1200px) {
  .header__menu-container a {
    font-size: 12px;
    padding: 5px 0;
  }
  .header__menu-container li {
    margin-bottom: 7px;
  }
}

.header__menu-container a:hover {
  border: 1px solid #e1a43b;
}

@media (max-width: 1200px) {
  .header__menu-container a:hover {
    border-bottom: #ffffff;
  }
}

.header__menu-link--arrow {
  position: relative;
}

.header__menu-link--arrow::after {
  position: absolute;
  content: url('../../images/arrow-down.svg');
  width: 5.5px;
  height: 2.5px;
  right: -9px;
  top: 7px;
}

@media (max-width: 1200px) {
  .header__menu-link--arrow::after {
    display: none;
  }
}

.header__menu-link--like {
  position: relative;
}

.header__menu-link--like::after {
  position: absolute;
  content: url('../../images/like.svg');
  width: 16px;
  height: 12.5px;
  left: -15px;
  top: 13px;
}
@media (max-width: 1200px) {
  .header__menu-link--like::after {
    display: none;
  }
}
.header__menu-link--search {
  position: relative;
}

.header__menu-link--search::after {
  position: absolute;
  content: url('../../images/search.svg');
  width: 16px;
  height: 12.5px;
  left: -15px;
  top: 13px;
}

@media (max-width: 1200px) {
  .header__menu-link--search::after {
    display: none;
  }
}
