.wrapper {
  background-color: transparent;
}

@media (max-width: 1200px) {
  .wrapper {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 476px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.header__container {
  width: 1105px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .header__container {
    flex-direction: column;
    width: 60%;
  }
}
.logo {
  padding-top: 37px;
}
.header__raiting {
  display: flex;
}
.header__raiting > img {
  margin-right: 15px;
}
.header__raiting-text {
  color: #ffffff;
  font-size: 12px;
}

@media (max-width: 476px) {
  .header__raiting-text {
    font-size: 10px;
  }
}

.header__raiting-text > span {
  font-weight: 700;
}
.header__button {
  height: 45px;
  border-radius: 4px;
  background: #84b73d;
  border: none;
  outline: none;
  align-self: center;
  color: #ffffff;
  font-size: 12px;
  padding-right: 27px;
  padding-left: 27px;
  display: flex;
}

@media (max-width: 1200px) {
  .header__button {
    align-self: self-start;
    margin-bottom: 15px;
  }
}

@media (max-width: 476px) {
  .header__button {
    font-size: 9px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.header__button > span {
  align-self: center;
  margin-right: 10px;
}
.header__button > img {
  align-self: center;
}
.header__whatsapp {
  align-items: center;
  align-self: center;
}

@media (max-width: 1200px) {
  .header__whatsapp {
    align-self: self-start;
  }
}
.header__whatsapp > span {
  color: #d2d3d6;
  /* font-family: Gilroy; */
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10.495px;
  display: block;
  position: relative;
  margin-left: 11px;
  padding-bottom: 5px;
}

.header__whatsapp > span::after {
  position: absolute;
  content: url(../../images/ellipse.svg);
  width: 4px;
  height: 4px;
  left: -7px;
  top: 0;
}
.header__contacts {
  align-self: center;
}

@media (max-width: 1200px) {
  .header__contacts {
    padding-top: 40px;
    align-self: self-start;
  }
}
.header__contacts-tel {
  color: #fff;
  /* font-family: Gilroy; */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17.791px; /* 111.195% */
  text-decoration: none;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .header__contacts-tel {
    font-size: 12px;
  }
}
.header__contacts-link {
  color: #87bf3c;
  /* font-family: Gilroy; */
  font-size: 12.273px;
  font-style: normal;
  font-weight: 600;
  line-height: 13.32px; /* 108.53% */
}
.header__contacts > span {
  display: block;
  color: #d2d3d6;
  /* font-family: Gilroy; */
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10.495px; /* 104.952% */
  margin-top: -20px;
  margin-bottom: 10px;
}
.header__contacts > a {
  display: block;
}
.header__contacts > span::after {
  position: absolute;
  content: url(../../images/ellipse.svg);
  width: 4px;
  height: 4px;
  left: -7px;
  top: 0;
}
.header__logo {
  padding-top: 20px;
}
.header__button-theme {
  border-radius: 20px;
  border: 1px solid #84b73d;
  background-color: #84b73d;
  color: #fff;
}
